.icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit; /* 继承父容器的圆角 */
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.letter {
  font-size: 20px;
  line-height: 1;
}
